name: CI

on: [ "pull_request"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: LaTeX compilation
        uses: dante-ev/latex-action@v0.2.0
        with:
          # The root LaTeX file to be compiled
          root_file: main.tex
          # The working directory for the latex compiler to be invoked
          # working_directory: # optional
          # LaTeX engine to be used
          # compiler: # optional, default is latexmk
          # Extra arguments to be passed to the latex compiler
          # args: # optional, default is -pdf -latexoption=-file-line-error -latexoption=-interaction=nonstopmode
          # Install extra packages by apt-get
          # extra_system_packages: # optional 
      - uses: actions/upload-artifact@v2
        with:
          name: constitution
          path: main.pdf
      - name: echo value
        run: |
          echo ${{ github.event.client_payload.prnumber }}
          echo ${{ github.event.client_payload.checkrunid }}
      - name: get artifacts_id
        id: getartid
        run: |
          URL="https://api.github.com/repos/${{ github.repository }}/actions/runs/${{github.run_id}}/artifacts"
          artifacts_id=$(curl -s $URL | jq '.artifacts[].id')
          echo $URL
          curl $url
          echo $artifacts_id
          echo "::set-output name=artid::$artifacts_id"
      - name: check url
        run: |
          echo https://github.com/${{ github.repository }}/suites/${{ steps.getsuiteid.outputs.suiteid }}/artifacts/${{ steps.getartid.outputs.artid }}
      - name: comment pr
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            The artifacts url is https://github.com/${{ github.repository }}/suites/${{ steps.getsuiteid.outputs.suiteid }}/artifacts/${{ steps.getartid.outputs.artid }}
